#signup h2 {
  padding-top: 1.5rem;
}
#signup a:hover {
  color: #da5767;
  text-decoration: none;
}
#signup .card {
  border: 0.4rem solid #f8f9fa;
  position: unset;
  padding: 2rem;
}

.form-control {
  background-color: #f8f9fa;
  padding: 10px 8px;
}

.form-group {
  position: relative;
}

.form-group .fa {
  visibility: hidden;
  position: absolute;
  top: 43;
  right: 15;
}

.parsley-success {
  color: #2ecc71;
  border: 3px solid #2ecc71;
  background-color: #DFF0D8;
  outline: 0;
  box-shadow: none;
}
.parsley-error {
  color: #B94A48;
  border: 3px solid #e74c3c;
  background-color: #F2DEDE;
  outline: 0;
  box-shadow: none;
}

.form-group li{
  list-style: none;
  font-size: small;
  color: #B94A48;
  position: absolute;
  left: 0;
}

.form-group .fa-check-circle{
  color:#2ecc71;
  visibility: hidden;
}

.form-group .fa-exclamation-circle{
  color:#e74c3c;
  visibility: hidden;
}

.form-group .fa-check-circle .visible{
  visibility: visible;
}

.form-group .fa-exclamation-circle .visible{
  visibility: visible;
}

.form-group .red{
  color: #e74c3c;
}

#two{
  right: 55;
}

#signup .btn-signup {
  padding: 0.6rem 1.2rem;
  background: #da5767;
  border: 2px solid #da5767;
}
#signup .btn-primary:hover {
  background-color: #df8c96;
  border-color: #df8c96;
  transition: 0.3s;
}
#signup .company, #signup .student{
  position: relative;
}
#signup .bg-company, #signup .bg-student{
  padding: 60px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
  z-index: 1;
  overflow: hidden;
}
#signup .bg-student {
  background-image: url("/Images/signup_stu1.jpg");
}
#signup .bg-company {
  background-image: url("/Images/signup_company.png");
}
#signup .bg-text-c, #signup .bg-text-s{
  position: absolute;
  font-weight: bold;
  color: #FF8C00;
}
#signup .bg-text-c{
  top: 2.5rem;
  right: 0.8rem;
}
#signup .bg-text-s {
  top: 2.5rem;
  left: 1.2rem;
}
#signup a {
  text-decoration: none;
  color: black;
}
.button-wrapper {
  position: relative;
}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  background: #00bfff;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
  text-transform:uppercase;
  font-size:12px;
}

#upload {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

/* media query */
@media (max-width: 576px) {
  #signup .bg-text-c, #signup .bg-text-s{
    font-weight: bold;
    font-size: large;
  }
  #signup .card{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
 }
